@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

var{
	font-style: italic;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

blockquote header{
	text-align: center;
	font-style: italic;
	margin-bottom: 1em;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

#chapter-10 > p:last-child{
	text-align: center;
	margin-top: 1em;
}

#appendix ol{
	list-style-type: lower-roman;
}

#appendix .class-list ol{
	list-style-type: upper-roman;
	margin: 0 0 0 1.5em;
	padding: 0;
}

#appendix .class-list ol > li{
	margin-bottom: 1em;
}

#appendix .class-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#appendix .class-list ul ul{
	margin-bottom: 0.5em;
}

#illustration-2 figcaption{
	margin-bottom: 1em;
	text-align: left;
}

@supports(display: flex){
	#illustration-2{
		display: flex;
		align-items: center;
	}

	#illustration-2 figcaption{
		margin: 0 2em 0 0;
		flex-basis: 40%;
	}

	#illustration-2 img{
		flex-basis: 60%;
	}
}

#illustration-3 img{
	max-width: 10em;
}

@supports(display: flex){
	#appendix-2-2-explanation{
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
	}

	#appendix-2-2-explanation figure{
		flex-basis: 30%;
	}

	#appendix-2-2-explanation div{
		flex-basis: 70%;
		margin-right: 2em;
	}
}

#appendix-5 > figure > table{
	margin: 0 auto;
}

#appendix-5 figure td{
	width: 2em;
	text-align: center;
}

#appendix-7-1 ol{
	list-style-type: lower-alpha;
}
